

@use '../../styles/tokens' as *;

.team {
  display: block;
  border: 1px solid $color-border-light;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: $color-background-secondary;
}

.teamHeader {
  display: flex;
  gap: $space-sm;
}

.teamHeaderDetails {
  overflow: hidden;
}

.teamTitle {
  margin: 0;
}

.teamCreator, .teamDate {
  color: #94a3b8;
  display: block;
}

.teamCreator {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.teamDate {
  margin-bottom: 1rem;
}

.teamCharactersRow {
  display: flex;
  gap: 8px;
}

.characterInTeam {
  width: 4rem;
  height: 4rem;
  border-radius: $radius-md;
  border: 1px solid;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  display: inline-block;
  &.passion {
    border-color: rgba($passion-color, 0.6);
  }
  &.instinct {
    border-color: rgba($instinct-color, 0.6);
  }
  &.order {
    border-color: rgba($order-color, 0.6);
  }
  &.justice {
    border-color: rgba($justice-color, 0.6);
  }
  &.void {
    border-color: rgba($void-color, 0.6);
  }

}

.teamFooter {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: flex-end;
}

.attributesContainer {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}

.editButton {
  color: $color-text-muted;
  background: none;
  border: 1px solid $color-border-light;
  border-radius: $radius-sm;
  display: inline-block;
  padding: $space-sm;
  margin-left: auto;
  cursor: pointer;
}

.deleteButton {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4375rem;
  border: 1px solid $color-border-light;
  background: transparent;
  color: $color-text-muted;
  cursor: pointer;
}

.attributeIcon {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.4;
  &--unselected {
    border: 1px solid $color-border;
    background-color: $color-background;
  }
}

.attributeIcon--active {
  opacity: 1;
}