@use '../../../styles/tokens' as *;

.card {
  transition: all 0.3s ease;
  border: 1px solid #334155;
  margin-bottom: 18px;
}

.img {
  justify-self: stretch;
  width: 100%;
  padding: 50%;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  position: relative;
  mask: linear-gradient(black 70%, transparent 100%);
}

.details {
  padding: 0.8rem;
}

.titleBar {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

.title {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #e2e8f0;
  flex-grow: 2;
}

.link {
  display:inline-flex;
  align-items:center;
  gap:4px;
  font-size:1rem;
  color: white;
  background:none;
  cursor:pointer;
  padding:0.5rem 1rem;
  text-decoration: none;
  border: 1px solid #334155;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: #1e3a5f;
    border-color: #2563eb;
  }
}

.characterDetails {
    display: flex;
    flex-direction: column;
}